
# BEGIN WordPress
# Direktive (redci) između `BEGIN WordPress` i `END WordPress` su
# dinamički generirani, i trebali bi ih mijenjati samo koristeći WordPress filtere.
# Sve promijene direktiva između navedenih markera biti će prepisane.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ceps/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ceps/wordpress/index.php [L]
</IfModule>

# END WordPress